{% extends '::base.html.twig' %}

{% block body %}

	
	<h2> La WCS inaugure son nouvel espace de vente de pop corn </h2>

	
	<div class="col-md-5 col-md-offset-1"><img src="{{ asset('img/photo1.jpg') }}">
			
	</div>

	<div class="col-md-5">
		<h3>Derniers articles</h3>
		<hr>
		
		<div class="col-md-12 article-style-1">
			<p><strong>Vente de string peau de panthère à la WCS ...</strong></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
		</div>
		<div class="col-md-12 article-style-1">
			<p><strong> Tempête de neige à la WCS...</strong></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
		</div>
		<div class="col-md-12 article-style-1">
			<p><strong> Viste de James Bond à la WCS</strong></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
		</div>
		<div class="col-md-12 article-style-1">
			<p><strong>Qui a volé le string peau de panthère de T.L ?</strong></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
		</div>
		
	</div>
	

{% endblock %}